div(class='modal fade', id='detailsModal')
  div(class='modal-dialog', role='document')
    div.modal-content
      div.modal-header
        h5.modal-title#imageName
        button(type='button', class='close', data-dismiss='modal')
        span &times;
      div.modal-body
        div.row
          div.col-md-12
            form
              div.form-group
                label(for='lastUpdated') Last updated
                input(type='text', class='form-control', id='lastUpdated', disabled)
              div.form-group
                label(for='lastAccess') Last access
                input(type='text', class='form-control', id='lastAccess', disabled)
              div.form-group
                label(for='size') Size
                input(type='text', class='form-control', id='size', disabled)